<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Interval Exercises</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body id="interval-exercises" class="exercise">
    <h1>Interval Exercises</h1>

    <h2>
      <details>
        <summary> {{ exercises[currentExercise] }} </summary>
        <p v-for="(exercise, index) in exercises" @click="currentExercise = index">
          {{ exercise }}
        </p>
      </details>
    </h2>

    <table>
      <tr>
        <th>Interval</td>
        <th>Note</td>
        <td> <button @click="reload()">reload</button> </td>
      </tr>

      <tr>
        <td></td>
        <td id="root">
          {{ interval.notes[0].toString() }}
          <span @click="rootLocked = !rootLocked">
            <template v-if="rootLocked"> &#x1f512; </template>
            <template v-else> &#x1f513; </template>
          </span>
        </td>
        <td><button @click="play(0)">play</button></td>
      </tr>

      <tr v-if="currentExercise == 0">
        <td> {{ interval.name() }} </td>
        <td> <toggle-answer :answer="interval.notes[1].toString()" /> </td>
        <td><button @click="play(1)">play</button></td>
      </tr>

      <tr v-if="currentExercise == 1">
        <td> <toggle-answer :answer="interval.name()" /> </td>
        <td> {{ interval.notes[1].toString() }} </td>
        <td><button @click="play(1)">play</button></td>
      </tr>

      <tr v-if="currentExercise == 2">
        <td> <toggle-answer :answer="interval.name()" /> </td>
        <td> <toggle-answer :answer="interval.notes[1].toString()" /> </td>
        <td><button @click="play(1)">play</button></td>
      </tr>


    </table>

    <details>
      <summary>
        Change intervals
        <input type="text" v-model="selectedIntervalsValue">
      </summary>
      <div id="input-selection">
        <span @click="unselect()">all</span>
        <template v-for="(interval, index) in intervalList">
          <span>
            <input type="checkbox" :id="index" :value="index" v-model="selectedIntervals">
            <label :for="index">{{ interval }}</label>
          </span>
      </div>
        </template>
    </details>

    <script src="js/vue.js"></script>
    <script src="js/theory.js"></script>
    <script src="js/synth.js"></script>
    <script src="js/exercises/intervals.js"></script>
  </body>
</html>
