<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Interval Exercises</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body id="interval-exercises">
    <h1>Interval Exercises</h1>

    <h2>
      <template v-if="findNote"> Sing and name the note </template>
      <template v-else> Sing and name the interval </template>
      <button @click="toggleExercise">&#8634;</button>
    </h2>

    <table>
      <tr>
        <th>Interval</td>
        <th>Note</td>
        <td> <button @click="reload()">reload</button> </td>
      </tr>

      <tr>
        <td></td>
        <td id="root">{{ interval.notes[0].toString() }}</td>
        <td><button @click="play(0)">play</button></td>
      </tr>

      <tr>
        <td id="interval">
          <template v-if="findNote">
            {{ interval.name() }}
          </template>
          <template v-else>
            <template v-if="answerShown"> {{ interval.name() }} </template>
            <button v-else @click="showAnswer">show</button>
          </template>
        </td>
        <td id="target">
          <template v-if="findNote">
            <template v-if="answerShown"> {{ interval.notes[1].toString() }} </template>
            <button v-else @click="showAnswer">show</button>
          </template>
          <template v-else>
            {{ interval.notes[1].toString() }}
          </template>
        </td>
        <td><button @click="play(1)">play</button></td>
      </tr>
    </table>

    <details>
       <summary>
         Change intervals
         <input type="text" v-model="selectedIntervalsValue">
       </summary>
        <div id="interval-selection">
          <span @click="unselect()">all</span>
          <template v-for="(interval, index) in intervalList">
            <span>
              <input type="checkbox" :id="index" :value="index" v-model="selectedIntervals">
              <label :for="index">{{ interval }}</label>
            </span>
        </div>
      </template>
    </details>

    <script src="js/vue.js"></script>
    <script src="js/theory.js"></script>
    <script src="js/synth.js"></script>
    <script src="js/exercises/intervals.js"></script>
  </body>
</html>
