<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scale Exercises</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body id="scale-exercises" class="exercise">
    <h1>Scale Exercises</h1>

    <h2>
      <details>
        <summary> {{ exercises[currentExercise] }} </summary>
        <p v-for="(exercise, index) in exercises" @click="currentExercise = index">
          {{ exercise }}
        </p>
      </details>
    </h2>

    <table>
      <th>Scale</td>
      <th>Root</td>
      <td> <button @click="reload()">reload</button> </td>
      </tr>

      <template v-if="currentExercise == 0">
        <tr>
          <td id="scale">
            <toggle-answer :answer="scale.name.toString()" />
          </td>
          <td id="root">
            {{ scale.notes[0].toString() }}
            <span @click="rootLocked = !rootLocked">
              <template v-if="rootLocked"> &#x1f512; </template>
              <template v-else> &#x1f513; </template>
            </span>
          </td>
          <td><button @click="play(0)">play</button></td>
        </tr>

        <tr>
          <th>Notes</td>
          <td id="scale"> {{ scale.notes.join(' ') }} </td>
          <td><button @click="play()">play</button></td>
        </tr>
      </template>

      <template v-if="currentExercise == 1">
        <tr>
          <td id="scale">
            {{ scale.name.toString() }}
          </td>
          <td id="root">
            {{ scale.notes[0].toString() }}
            <span @click="rootLocked = !rootLocked">
              <template v-if="rootLocked"> &#x1f512; </template>
              <template v-else> &#x1f513; </template>
            </span>
          </td>
          <td><button @click="play(0)">play</button></td>
        </tr>

        <tr>
          <th>Notes</td>
          <td id="scale">
            <toggle-answer :answer="scale.notes.join(' ')" />
          </td>
          <td><button @click="play()">play</button></td>
        </tr>
      </template>


      <template v-if="currentExercise == 2">
        <tr>
          <td id="scale">
            <toggle-answer :answer="scale.name.toString()" />
          </td>
          <td id="root">
            {{ scale.notes[0].toString() }}
            <span @click="rootLocked = !rootLocked">
              <template v-if="rootLocked"> &#x1f512; </template>
              <template v-else> &#x1f513; </template>
            </span>
          </td>
          <td><button @click="play(0)">play</button></td>
        </tr>

        <tr>
          <th>Notes</td>
          <td><toggle-answer :answer="scale.notes.join(' ')" /></td>
          <td><button @click="play()">play</button></td>
        </tr>
      </template>

    </table>

    <details>
      <summary>
        Change Scales
        <input type="text" v-model="selectedScalesValue">
      </summary>
      <div id="input-selection">
        <span @click="unselect()">all</span>
        <template v-for="(scale, index) in scaleList">
          <span>
            <input type="checkbox" :id="index" :value="index" v-model="selectedScales">
            <label :for="index">{{ scale }}</label>
          </span>
      </div>
        </template>
    </details>

    <script src="js/vue.js"></script>
    <script src="js/theory.js"></script>
    <script src="js/synth.js"></script>
    <script src="js/exercises/scale.js"></script>
  </body>
</html>

