body.exercise {
  > * {
    width: 90%;
    margin: 0 auto 1em;
  }

  table {
    td,
    th {
      width: 25%;
      font-size: 3em;
      button {
        font-size: 1em;
      }
    }
  }

  summary {
    font-size: 2em;
    margin-bottom: 1em;
    cursor: pointer;
  }

  #input-selection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2em;

    span {
      user-select: none;
      margin: 0 0.5em 1em 0.5em;

      &,
      label {
        cursor: pointer;
      }

      label:hover {
        text-decoration: underline;
      }

      input {
        display: none;
        &:checked ~ label {
          color: white;
          background-color: black;
        }
      }
    }
  }

  #chordList {
    display: flex;
    justify-content: space-evenly;
    &,
    & ul {
      list-style-type: none;
    }
    font-size: 4em;
    > li {
      summary {
        font-size: 0.7em;
        margin: 0;
      }
    }
  }
}
