body {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  text-align: center;
  padding: 1em;
  font-weight: 100;

  h1 {
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;
  }

  #menu {
    font-size: 3em;
    list-style-type: none;
    a {
      color: black;
    }
  }
}
