.exercise
	> *
		width 90%
		margin 0 auto 1em

	.exercise-selection

		summary
			font-size 2em
			margin-bottom 0.5em
			cursor pointer

		ul
			padding 0
			margin 0
			list-style none
			font-size 1.5em
			li
				margin-bottom 0.5em
				cursor pointer
				&:hover
					text-decoration underline

	table
		td,
		th
			width 25%
			font-size 3em
			button
				font-size 1em

	.lockRoot
		cursor pointer

